
# /
/*~
/*.tmp
/.*.swp
/*.a
/*.o
/*.la
/*.lai
/*.lo
/*.so
/*.so.[0-9]*
/*.dll
/*.def
/*.exe
/*.obj
/*.in
/.deps
/.libs
/Makefile
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/README.TXT
/API.TXT
/FILEFORMAT.TXT
/NEWS.TXT
/ssdeep
/ssdeep-[0-9]*

# /m4/
/m4/*.m4

# /doc/
/doc/
